
.container{
    margin:2vh auto;
    width: 80vw;
    color: white;
}
.champ-box{
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 1vh 1vw 1vh 1vw;
}
.champ-box img{
    height: 16vh;
    width: 18vw;
    min-width: 128px;
    max-width: 256px;
    min-height: 128px;
    max-height: 256px;
}
.champ-box span{
    position: relative;
    justify-content: center;
    display: flex;
}
.champ-menu{
    width: 100vw;
    height: 80vh;
    background-color: black;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    display: none;
    color: white;
}
.champ-menu div img{
    width:25vw;
}
#vcon{
    position: relative;
    margin: 0 auto;
    width: 95%;
    height: 100%;
    display: block;
    background-size: contain;
}
#close-button{
    right: 0px;
    position: absolute;
    top: 0px;
    border-radius: 39%;
    border-style: solid;
    background: red;
    font-size: 1rem;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}
#champ-name{
    text-align: center;
    font-size: 3rem;
    margin: 0;
    position: absolute;
    top: 10vh;
    left: 15vw;
    width: 60vw;
    text-shadow: 0px 3px 3px black;
    user-select: none;
    cursor: default;
}
#champ-title{
    text-align: center;
    font-size: 1rem;
    margin: 0;
    position: absolute;
    top: 22vh;
    left: 25vw;
    width: 40vw;
    text-shadow: 0px 3px 3px black;
    user-select: none;
    cursor: default;
}
#voiceSelect{
    background: black;
    color: white;
    position: absolute;
    width: 26vw;
    top: 0;
    user-select: none;
    cursor: pointer;
}
#bio-rep{
    position: absolute;
    top: 0;
    left: 55vw;
    border: none;
    font-family: verdana;
    width: 16vw;
    font-size: 1.3rem;
    user-select: none;
    cursor: pointer;
}
#story-rep{
    position: absolute;
    top: 0;
    left: 76vw;
    border: none;
    font-family: verdana;
    width: 15vw;
    font-size: 1.3rem;
    user-select: none;
    cursor: pointer;
}
#voice-text{
    text-align: center;
    position: relative;
    margin: 0 auto;
    max-width: 80vw;
    max-height: 40vh;
    top: 50%;
    font-size: 2rem;
    font-family: emoji;
    background: #00000094;
    border-radius: 10px;
    overflow: overlay;
    padding: 0;
    text-shadow: 0px 3px 3px black;
    user-select: none;
    cursor: default;
}