.menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-items: center;
    margin: 0;
    margin-bottom: 2vh;
}
.menu ul li{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
}
.menu{
    background-color: rgb(255, 255, 255);
    font-family: monospace;
}
.menu li a{
    cursor: pointer;
    text-decoration: none;
    color:black;
}
.menu li a:visited{
    color: black;
}
@media(max-width: 830px){
    .menu {
        width: 100%;
    }
}
@media(min-width: 831px){
    .menu {
        display: inline-block;
        border-bottom-right-radius: 15px;
    }
}